body{
background: linear-gradient(135deg,#0f172a,#020617);
color:white;
font-family: 'Segoe UI', sans-serif;
padding:20px;
}

h1{text-align:center;}
#todayDate{text-align:center;color:#94a3b8;}

button{
padding:10px 16px;
border:none;
border-radius:8px;
background:#22c55e;
cursor:pointer;
margin:5px;
}

.progress-container{
background:#1e293b;
height:20px;
border-radius:12px;
margin:15px 0;
overflow:hidden;
}

#progress-bar{
height:100%;
width:0%;
background:#22c55e;
transition:0.5s;
}

#assignment-progress-bar{
height:100%;
width:0%;
background:#a855f7;
transition:0.5s;
}

.stats{
display:flex;
gap:10px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:15px;
border-radius:10px;
flex:1;
text-align:center;
}

.form{
display:flex;
gap:10px;
flex-wrap:wrap;
}

input,select{
padding:8px;
border-radius:6px;
border:none;
background:#1e293b;
color:white;
}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #1e293b;
text-align:center;
}

.future-row{
background:#2a1e3f;
}

.overdue-row{
background:#3f1e1e;
border-left:4px solid red;
}

.hours-bar-container{
background:#1e293b;
height:12px;
border-radius:10px;
margin-top:10px;
overflow:hidden;
}

#hours-bar{
height:100%;
width:0%;
background:#22c55e;
}